<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">

    <h2 class="footer-heading">Emad Masroor</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Emad Masroor</li><li><a class="u-email" href="mailto:emad@vt.edu">emad@vt.edu</a></li></ul>
      </div>

      <div class="footer-col footer-col-2"><ul class="social-media-list"><li><a href="https://github.com/emadmasroor"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username">emadmasroor</span></a></li></ul>
</div>

      <div class="footer-col footer-col-3">
        <p>Fluid Mechanics</p>
      </div>
      
      <div class="footer-col footer-col-4">
	  {% if site.social.github %}
          <!-- Github -->
          <li class="navigation__item_social">
            <a href="https://github.com/{{site.social.github}}" title="@{{site.social.github}} Github" target="_blank"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg>
              <i class='social fa fa-github fa-2x'></i>
              <span class="label">Github</span>
            </a>
          </li>
          {% endif %}
	  <!-- Following advice from jreel.github.io  -->
	  {% assign sm = site.data.social-media %}
	  {% for entry in sm %}
	  {% assign key = entry | first %}
	  {% if sm[key].id %}
	  <p><a> href="{{ sm[key].href }}{{ sm[key].id }}" title="{{ sm[key].title }}" </a></p>
	  {% endif %}
	  {% endfor %}
      </div>

      <div class="footer-col footer-col-5">
	      {% include social.html %}
      </div>
    </div>

  </div>

</footer>
