<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">

    <h2 class="footer-heading">2 Emad Masroor</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Emad Masroor</li><li><a class="u-email" href="mailto:emad@vt.edu">emad@vt.edu</a></li></ul>
      </div>

      <div class="footer-col footer-col-2"><ul class="social-media-list"><li><a href="https://github.com/emadmasroor"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username">emadmasroor</span></a></li></ul>
</div>

      <div class="footer-col footer-col-3">
        <p>Fluid Mechanics</p>
      </div>
    </div>

  </div>

</footer>
